:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --third-text-color: #ffffff;
  --fourth-text-color: #4d5ae5;
  --fifth-text-color: #f4f4fd;
  --sixth-text-color: #e7e9fc;
  --seventh-text-color: #404bbf;
  --main-background-color: #2e2f42;
  --second-background-color: #f4f4fd;
  --main-btn-color: #4d5ae5;
  --second-btn-color: #404bbf;
  --third-btn-color: #f4f4fd;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  /* max-width: 1158px; */
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* ==============================HEADER======================== */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: none;
}

.header-contacts-list {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-text-color);
}

.header-studio {
  color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--seventh-text-color);
}

.header-link.current {
  color: var(--seventh-text-color);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--seventh-text-color);
}
.menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 428px;
}

.mob-menu {
  position: absolute;

  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  overflow: auto;
}

.menu-close-icon {
  fill: #2e2f42;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: 32px;
  padding: 0;
}

.mob-menu-list {
  /* margin-bottom: 284px; */
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.current-page {
  color: #404bbf;
}

.mob-menu-link:focus {
  color: #404bbf;
}

.mob-menu-address {
  margin-bottom: 48px;
}
.mob-menu-contacts-list {
}
.mob-menu-contacts-item {
  margin-bottom: 0;
}

.mob-menu-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

.mob-menu-contacts:focus,
.mob-menu-contact-mail:focus {
  color: #4d5ae5;
}

.mob-menu-contact-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-menu-contacts-item {
}
.mob-soc-list {
  display: flex;
  gap: 36px;
}
.mob-soc-list-item {
}
.mob-soc-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #ffffff;
}

.mob-soc-list-link:focus {
  background-color: #404bbf;
}

.mob-soc-list-icon {
  fill: #f4f4fd;
}

/* ==============================HERO======================== */
.hero {
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(46, 47, 66, 0.7);
  max-width: 1440px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--third-text-color);
  background-color: var(--main-btn-color);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--second-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ==============================FEATURES======================== */
.features {
}
.features-title {
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}
.features-item {
  width: 100%;
  /* margin-bottom: 72px; */
}
.features-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.features-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--second-text-color);
}

.features-icon {
  display: none;
}

/* ==============================GALLERY======================== */

@media screen and (max-width: 1157px) {
  .gallery {
    display: none;
  }
}

/* ==============================OUR TEAM======================== */
.team {
  background-color: var(--second-background-color);
}

.team > .container {
  width: 294px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-top: 72px;
}
.team-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.team-description-item {
  padding: 32px 16px;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

/* ==============================CUSTOMERS===================== */

.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: fill var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}

.customers-list-link:hover,
.customers-list-link:focus {
  fill: #404bbf;
  border: 1px solid #404bbf;
}

/* ==============================FOOTER======================== */
.footer {
  background-color: var(--main-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.container.footer-common {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--sixth-text-color);
  max-width: 264px;
  margin-top: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-text-color);
  margin-bottom: 16px;
}
.footer-studio {
  color: var(--fifth-text-color);
}

.media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.media-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}

.media-list-link:hover,
.media-list-link:focus {
  background-color: #31d0aa;
}

.footer-media {
}

.footer-right-side {
}

.footer-middle {
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-left-side {
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-form-input-wrapper {
  display: block;
  gap: 24px;
}

.footer-form-proposition {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-submit {
  display: flex;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
  margin: 0 auto;
}

.footer-form-submit:hover,
.footer-form-submit:focus {
  background-color: var(--second-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input {
  min-width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  padding: 8px 16px;
  width: 100%;
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-subscribe {
}

.footer-form-submit-common {
}

/* ==============================PORTFOLIO======================== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-title {
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-item {
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--fourth-text-color);
  background-color: var(--third-btn-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--third-text-color);
  background-color: var(--second-btn-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.projects-item {
  width: calc((100% - 48px) / 3);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translate(0, 0);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-dur-and-func);
}

.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.projects-link-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  font-size: 16px;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fifth-text-color);
  background-color: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  transition: transform var(--transition-dur-and-func);
}

.projects-description-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.projects-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/* ==============================MODAL WINDOW======================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

/* ==============================MODAL WINDOW======================== */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-proposition {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: #000000;
  font-size: 18px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  display: block;
  color: var(--main-background-color);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-top: 8px;
}

.modal-form-fake-checkbox {
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc .modal-form-fake-checkbox {
  background-color: #404bbf;
  outline: none;
}

.modal-form-check:focus + .modal-form-fake-checkbox {
  outline: 1px solid rgba(0, 0, 255, 0.5);
}

.modal-form-check-desc .modal-form-fake-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.modal-form-fake-icon {
  opacity: 0;
}

.modal-form-check:checked + .modal-form-check-desc .modal-form-fake-icon {
  opacity: 1;
}

.modal-policy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.modal-form-submit {
  min-width: 169px;
  align-self: center;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--third-text-color);
  background-color: var(--main-btn-color);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--second-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
